.hero-image {
  background-position: bottom left;
  height: 400px;
  background-size: 100%;
  @media (max-width: 1200px) {
    height: 300px;
  }
  @media (max-width: 800px) {
    height: 200px;
  }
  @media (max-width: 500px) {
    height: 140px;
  }
}
