<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/analitza-4.9.3.tar.xz">analitza-4.9.3</a></td>
   <td align="right">139kB</td>
   <td><tt>96fc22e59b86fdd22d9f716b342c2635013c4807</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/ark-4.9.3.tar.xz">ark-4.9.3</a></td>
   <td align="right">228kB</td>
   <td><tt>7bca83a9985e75e2c5c280c6beb5d16e5a136e90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/audiocd-kio-4.9.3.tar.xz">audiocd-kio-4.9.3</a></td>
   <td align="right">54kB</td>
   <td><tt>55628ce0d00e98067abba2eb33e210a273bc404b</tt></td>
</tr>
                                                                                                                                                                                                                                                                                
<tr valign="top">                                                                                                                                                                                                                                                               
   <td><a href="http://download.kde.org/stable/4.9.3/src/blinken-4.9.3.tar.xz">blinken-4.9.3</a></td>                                                                                                                                                                           
   <td align="right">551kB</td>                                                                                                                                                                                                                                                 
   <td><tt>b979cbcd000266f49b620f556811a6846d434e2d</tt></td>                                                                                                                                                                                                                   
</tr>                                                                                                                                                                                                                                                                           
                                                                                                                                                                                                                                                                                
<tr valign="top">                                                                                                                                                                                                                                                               
   <td><a href="http://download.kde.org/stable/4.9.3/src/cantor-4.9.3.tar.xz">cantor-4.9.3</a></td>                                                                                                                                                                             
   <td align="right">258kB</td>                                                                                                                                                                                                                                                 
   <td><tt>01526ddfe5f9abf26e9eba3914e8439596ea594e</tt></td>                                                                                                                                                                                                                   
</tr>                                                                                                                                                                                                                                                                           
                                                                                                                                                                                                                                                                                
<tr valign="top">                                                                                                                                                                                                                                                               
   <td><a href="http://download.kde.org/stable/4.9.3/src/dragon-4.9.3.tar.xz">dragon-4.9.3</a></td>                                                                                                                                                                             
   <td align="right">382kB</td>                                                                                                                                                                                                                                                 
   <td><tt>a5b8319414c6d4980ee4c4f5cd33318c499597b3</tt></td>                                                                                                                                                                                                                   
</tr>                                                                                                                                                                                                                                                                           
                                                                                                                                                                                                                                                                                
<tr valign="top">                                                                                                                                                                                                                                                               
   <td><a href="http://download.kde.org/stable/4.9.3/src/ffmpegthumbs-4.9.3.tar.xz">ffmpegthumbs-4.9.3</a></td>                                                                                                                                                                 
   <td align="right">19kB</td>                                                                                                                                                                                                                                                  
   <td><tt>f2cecd0677b9d57e60af394b4ba4815bf95a10d0</tt></td>                                                                                                                                                                                                                   
</tr>                                                                                                                                                                                                                                                                           
                                                                                                                                                                                                                                                                                
<tr valign="top">                                                                                                                                                                                                                                                               
   <td><a href="http://download.kde.org/stable/4.9.3/src/filelight-4.9.3.tar.xz">filelight-4.9.3</a></td>                                                                                                                                                                       
   <td align="right">286kB</td>                                                                                                                                                                                                                                                 
   <td><tt>c339bf9918e4f8e3bd12f31a89262a9580e500d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/gwenview-4.9.3.tar.xz">gwenview-4.9.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>ec383c32b5a277e7f9567af67c48bcf19b6128e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/jovie-4.9.3.tar.xz">jovie-4.9.3</a></td>
   <td align="right">357kB</td>
   <td><tt>116caae94fb3aee0270ce9c6069a5da82289ff70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/juk-4.9.3.tar.xz">juk-4.9.3</a></td>
   <td align="right">429kB</td>
   <td><tt>e5fd939da08de0ca0b080812b36ef6eef02036fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kaccessible-4.9.3.tar.xz">kaccessible-4.9.3</a></td>
   <td align="right">19kB</td>
   <td><tt>6ea2b1751d97643bd2be1e625bed9d634d628a33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kactivities-4.9.3.tar.xz">kactivities-4.9.3</a></td>
   <td align="right">81kB</td>
   <td><tt>79a9c14e10147c7deb20bfe924de9d63a8edb1ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kalgebra-4.9.3.tar.xz">kalgebra-4.9.3</a></td>
   <td align="right">428kB</td>
   <td><tt>5c61c468af41246242c25bf9a483ea36a39d8b22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kalzium-4.9.3.tar.xz">kalzium-4.9.3</a></td>
   <td align="right">3.5MB</td>
   <td><tt>7b4a50aabd960752d6b746740cc6b4bf6cae3b30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kamera-4.9.3.tar.xz">kamera-4.9.3</a></td>
   <td align="right">36kB</td>
   <td><tt>add7f186d05fe5896f1a6c0b470f6539aa803a42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kanagram-4.9.3.tar.xz">kanagram-4.9.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>e0ba84ac0d091dad0fb5af712a680a98abc17355</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kate-4.9.3.tar.xz">kate-4.9.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>d48c4671dfc13cefecf95e595403a5f75bc56d5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kbruch-4.9.3.tar.xz">kbruch-4.9.3</a></td>
   <td align="right">883kB</td>
   <td><tt>9676d6866e28a33cb65dbe3f4b8da1d0041a0596</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kcalc-4.9.3.tar.xz">kcalc-4.9.3</a></td>
   <td align="right">84kB</td>
   <td><tt>d426f061fba14bd311927f04bd3ba655d4a7fef7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kcharselect-4.9.3.tar.xz">kcharselect-4.9.3</a></td>
   <td align="right">83kB</td>
   <td><tt>f97cd586a1d461ece4401388693a2a60389c6464</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kcolorchooser-4.9.3.tar.xz">kcolorchooser-4.9.3</a></td>
   <td align="right">4kB</td>
   <td><tt>777c6158427906609d6ad429a88c53ba239b18d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kdeadmin-4.9.3.tar.xz">kdeadmin-4.9.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>3fa7f1c3018f156b6185a806b66364c8daf7547c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kdeartwork-4.9.3.tar.xz">kdeartwork-4.9.3</a></td>
   <td align="right">132MB</td>
   <td><tt>777e3b50546e3a75bc2253ee13962bd1955db921</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-baseapps-4.9.3.tar.xz">kde-baseapps-4.9.3</a></td>
   <td align="right">2.3MB</td>
   <td><tt>282b8704d54f081a16894bb94aa901e72eb5e694</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-base-artwork-4.9.3.tar.xz">kde-base-artwork-4.9.3</a></td>
   <td align="right">15MB</td>
   <td><tt>0bf99feb0cefdbae45c12a43cc5c984d7a65b13a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kdegames-4.9.3.tar.xz">kdegames-4.9.3</a></td>
   <td align="right">49MB</td>
   <td><tt>c5b61b6df2d6683fa96f294bebeb09b1403ce6d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kdegraphics-mobipocket-4.9.3.tar.xz">kdegraphics-mobipocket-4.9.3</a></td>
   <td align="right">18kB</td>
   <td><tt>a7a5e63c8a4df1f079fb9381106df2f10b6f47ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kdegraphics-strigi-analyzer-4.9.3.tar.xz">kdegraphics-strigi-analyzer-4.9.3</a></td>
   <td align="right">39kB</td>
   <td><tt>72739f16b23fb2ea51fd2a1f64d350214649e898</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kdegraphics-thumbnailers-4.9.3.tar.xz">kdegraphics-thumbnailers-4.9.3</a></td>
   <td align="right">40kB</td>
   <td><tt>d14e20809c3d6703ba7029169fa2fa83d04ba5e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kdelibs-4.9.3.tar.xz">kdelibs-4.9.3</a></td>
   <td align="right">11MB</td>
   <td><tt>d5d60c431159b17a753ee7427d9ca129d550e3f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kdenetwork-4.9.3.tar.xz">kdenetwork-4.9.3</a></td>
   <td align="right">8.5MB</td>
   <td><tt>2a0b31a292f4805224fdb0ba26a9426e1126f4f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kdepim-4.9.3.tar.xz">kdepim-4.9.3</a></td>
   <td align="right">13MB</td>
   <td><tt>5f0786a85db599a7b566a5d02d19c55222a64bcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kdepimlibs-4.9.3.tar.xz">kdepimlibs-4.9.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>a1aa00a83cfd7c1998927dcedc3843a0a0006740</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kdepim-runtime-4.9.3.tar.xz">kdepim-runtime-4.9.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>85e293b3894e5a6c529c33e5ed72964a0172e920</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kdeplasma-addons-4.9.3.tar.xz">kdeplasma-addons-4.9.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>e8b642b325acf2f7c8819e57176bbc2357cf78bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-runtime-4.9.3.tar.xz">kde-runtime-4.9.3</a></td>
   <td align="right">6.0MB</td>
   <td><tt>5245c1152680ad22dff21c44dad531eda736e769</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kdesdk-4.9.3.tar.xz">kdesdk-4.9.3</a></td>
   <td align="right">4.8MB</td>
   <td><tt>ad45975bcda3a23fc7b77d93c7e7c0bd5f2f351c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kdetoys-4.9.3.tar.xz">kdetoys-4.9.3</a></td>
   <td align="right">367kB</td>
   <td><tt>2a5c07734fd4b65e181ddc2bce47ab57c5a1a557</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-wallpapers-4.9.3.tar.xz">kde-wallpapers-4.9.3</a></td>
   <td align="right">73MB</td>
   <td><tt>a243cdfb0bb01c03cfcb5af7f2641304ad094d6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kdewebdev-4.9.3.tar.xz">kdewebdev-4.9.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>590a6da889357c16246ac8b5e0a16b7fb4679414</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-workspace-4.9.3.tar.xz">kde-workspace-4.9.3</a></td>
   <td align="right">21MB</td>
   <td><tt>f6c527361e76aacae980f661294b32a7f3df46a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kdf-4.9.3.tar.xz">kdf-4.9.3</a></td>
   <td align="right">151kB</td>
   <td><tt>a14ab2740ec4d5be1839ad8b0650fd02106c0ce7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kfloppy-4.9.3.tar.xz">kfloppy-4.9.3</a></td>
   <td align="right">58kB</td>
   <td><tt>5ea028f8e2628cef27b331b2a5c087efb45c4864</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kgamma-4.9.3.tar.xz">kgamma-4.9.3</a></td>
   <td align="right">25kB</td>
   <td><tt>c53d48a1b883a26b084fa91c016c3a543e067d6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kgeography-4.9.3.tar.xz">kgeography-4.9.3</a></td>
   <td align="right">6.4MB</td>
   <td><tt>15d6f44bed780afbd75fe5d89c0d2e041904af25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kgpg-4.9.3.tar.xz">kgpg-4.9.3</a></td>
   <td align="right">789kB</td>
   <td><tt>3acc06395c17c68ff2e74f613d8d8565c43ca2d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/khangman-4.9.3.tar.xz">khangman-4.9.3</a></td>
   <td align="right">3.6MB</td>
   <td><tt>75f08151c66a14adee3f5a2494439aba12e1dd66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kig-4.9.3.tar.xz">kig-4.9.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>ed999bf98caef1107e01ddec90f1b5b9b09d75c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kimono-4.9.3.tar.xz">kimono-4.9.3</a></td>
   <td align="right">913kB</td>
   <td><tt>8f9571ede6e2801eba40ab59c44d47a3854e04dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kiten-4.9.3.tar.xz">kiten-4.9.3</a></td>
   <td align="right">11MB</td>
   <td><tt>8bbfd5de164aff394bad508f1e15509f65d6efea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/klettres-4.9.3.tar.xz">klettres-4.9.3</a></td>
   <td align="right">2.5MB</td>
   <td><tt>a651c0ee96ba4cdfe0cbbd3dc555f52218eb0830</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kmag-4.9.3.tar.xz">kmag-4.9.3</a></td>
   <td align="right">89kB</td>
   <td><tt>6d6fe858e504ed088bc7813854b5655431cf1ed5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kmix-4.9.3.tar.xz">kmix-4.9.3</a></td>
   <td align="right">294kB</td>
   <td><tt>9eeb903eeaa464b4f15205b4a7c4c204e13a56d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kmousetool-4.9.3.tar.xz">kmousetool-4.9.3</a></td>
   <td align="right">41kB</td>
   <td><tt>e76d255b2333cf0b964a4b904d558c0b58a495a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kmouth-4.9.3.tar.xz">kmouth-4.9.3</a></td>
   <td align="right">310kB</td>
   <td><tt>6f82859510cd90594c4f9b5bb74f35413c9cb4c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kmplot-4.9.3.tar.xz">kmplot-4.9.3</a></td>
   <td align="right">660kB</td>
   <td><tt>f89aa657b98a36e357c65567c0a2df85c2600611</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kolourpaint-4.9.3.tar.xz">kolourpaint-4.9.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>245706ffc337a44b55f88010088a7531ac37c4fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/konsole-4.9.3.tar.xz">konsole-4.9.3</a></td>
   <td align="right">423kB</td>
   <td><tt>6d6f0894350ca1976c7403b8eb5d8c197b57c884</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/korundum-4.9.3.tar.xz">korundum-4.9.3</a></td>
   <td align="right">157kB</td>
   <td><tt>ade552b7a0ddd3117dcd18ac0c70016c01f19fc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kremotecontrol-4.9.3.tar.xz">kremotecontrol-4.9.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>59cac67bb4f19688c0ce17b7cc5c69db5b01f745</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kross-interpreters-4.9.3.tar.xz">kross-interpreters-4.9.3</a></td>
   <td align="right">127kB</td>
   <td><tt>862cff197c21d102d1687fb36c25b0f8cabb2397</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kruler-4.9.3.tar.xz">kruler-4.9.3</a></td>
   <td align="right">129kB</td>
   <td><tt>7ca618561f7bb96db04e0978d69dc0984f892bd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/ksaneplugin-4.9.3.tar.xz">ksaneplugin-4.9.3</a></td>
   <td align="right">12kB</td>
   <td><tt>0e403a2bd1d6f05c8bd958197246b4a9d6223bce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kscd-4.9.3.tar.xz">kscd-4.9.3</a></td>
   <td align="right">91kB</td>
   <td><tt>42aa1db2d61fbb3e17b605aeb3f16517f3237a7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/ksnapshot-4.9.3.tar.xz">ksnapshot-4.9.3</a></td>
   <td align="right">256kB</td>
   <td><tt>61bc95baed704821d597686ccb16e9bba40965fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kstars-4.9.3.tar.xz">kstars-4.9.3</a></td>
   <td align="right">11MB</td>
   <td><tt>35f88135c42483144d17013c520243e7a77bde95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/ktimer-4.9.3.tar.xz">ktimer-4.9.3</a></td>
   <td align="right">146kB</td>
   <td><tt>817ea9617fc1264f7340a42e04efdd0fd8190cfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/ktouch-4.9.3.tar.xz">ktouch-4.9.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>921f60e26097c63373b157a5c4b7ca53512d95e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kturtle-4.9.3.tar.xz">kturtle-4.9.3</a></td>
   <td align="right">207kB</td>
   <td><tt>c1077d3190c931b740360be4b1b343e279f94b6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kwallet-4.9.3.tar.xz">kwallet-4.9.3</a></td>
   <td align="right">273kB</td>
   <td><tt>135e563de2724b923ee7359ec4439097a5c0485b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kwordquiz-4.9.3.tar.xz">kwordquiz-4.9.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>bacfc371da7c0612fa8bf730280b12f0e29bdc46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/libkcddb-4.9.3.tar.xz">libkcddb-4.9.3</a></td>
   <td align="right">153kB</td>
   <td><tt>6a9d99cea33143cfdd89766b9647aa463b3f560f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/libkcompactdisc-4.9.3.tar.xz">libkcompactdisc-4.9.3</a></td>
   <td align="right">73kB</td>
   <td><tt>fc5ec113a34787ae36120581f8e9a1508fdee5a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/libkdcraw-4.9.3.tar.xz">libkdcraw-4.9.3</a></td>
   <td align="right">261kB</td>
   <td><tt>be92e3e5c6b9cde30ebed4ef328ed454ed968b55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/libkdeedu-4.9.3.tar.xz">libkdeedu-4.9.3</a></td>
   <td align="right">204kB</td>
   <td><tt>5469a7c5cea78b922ddfd3427a3f8cefdd04d383</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/libkexiv2-4.9.3.tar.xz">libkexiv2-4.9.3</a></td>
   <td align="right">129kB</td>
   <td><tt>ea41341a49b524d946b844fc4146652011cdb980</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/libkipi-4.9.3.tar.xz">libkipi-4.9.3</a></td>
   <td align="right">73kB</td>
   <td><tt>0752fadb0757abb6f1954bb0cda407c074628cd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/libksane-4.9.3.tar.xz">libksane-4.9.3</a></td>
   <td align="right">78kB</td>
   <td><tt>2ca77dc024bf5254a7bd7ebd22c3b83bab4e07cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/marble-4.9.3.tar.xz">marble-4.9.3</a></td>
   <td align="right">18MB</td>
   <td><tt>f15e058468b5edcb0a2d274c50ef9ef98e22ad34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/mplayerthumbs-4.9.3.tar.xz">mplayerthumbs-4.9.3</a></td>
   <td align="right">26kB</td>
   <td><tt>6ff6a8d536bf8fda538f68d6da90525832d0b594</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/nepomuk-core-4.9.3.tar.xz">nepomuk-core-4.9.3</a></td>
   <td align="right">369kB</td>
   <td><tt>d235f033206fdd6d0dbad63143bfa89dde99b19d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/okular-4.9.3.tar.xz">okular-4.9.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>33e6f1c3f282bf384d09f3fd1d535a35af572df6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/oxygen-icons-4.9.3.tar.xz">oxygen-icons-4.9.3</a></td>
   <td align="right">257MB</td>
   <td><tt>8f8cc8bab93f8b41df71482fc10e8fad458adaea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/pairs-4.9.3.tar.xz">pairs-4.9.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>ad0567efd16cd024a59acd399bbbd549118334d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/parley-4.9.3.tar.xz">parley-4.9.3</a></td>
   <td align="right">7.8MB</td>
   <td><tt>98f10445a5d983ea81a812e288bc00991b9b247c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/perlkde-4.9.3.tar.xz">perlkde-4.9.3</a></td>
   <td align="right">39kB</td>
   <td><tt>9504e5f31787df5f31686aabab96d30af96f33b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/perlqt-4.9.3.tar.xz">perlqt-4.9.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>b41f57df71d7001b9fb079b9eb64fe7b5e08690c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/printer-applet-4.9.3.tar.xz">printer-applet-4.9.3</a></td>
   <td align="right">34kB</td>
   <td><tt>841bb5136604d26a6c70c25b29aa245e7c9d09b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/pykde4-4.9.3.tar.xz">pykde4-4.9.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>4a72a307d5780f013e12607b9cddb425f81ffeef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/qtruby-4.9.3.tar.xz">qtruby-4.9.3</a></td>
   <td align="right">518kB</td>
   <td><tt>f4cc60e378c4bf0d235affba5d042d0031560009</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/qyoto-4.9.3.tar.xz">qyoto-4.9.3</a></td>
   <td align="right">497kB</td>
   <td><tt>24397a09c50ccc2e87dcd5d07f33d74cc9c5113f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/rocs-4.9.3.tar.xz">rocs-4.9.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>bbd95c3e058c106e8b88a132a642c6af39c1c10d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/smokegen-4.9.3.tar.xz">smokegen-4.9.3</a></td>
   <td align="right">142kB</td>
   <td><tt>0f5fc7634140434fad6c96f59055d91754b8f784</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/smokekde-4.9.3.tar.xz">smokekde-4.9.3</a></td>
   <td align="right">35kB</td>
   <td><tt>4cc26577b84cf78253aac5fbfed88da9667dbcea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/smokeqt-4.9.3.tar.xz">smokeqt-4.9.3</a></td>
   <td align="right">29kB</td>
   <td><tt>08ffb9d5bfe8c624f1da28b49f26dfa746fc8bcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/step-4.9.3.tar.xz">step-4.9.3</a></td>
   <td align="right">361kB</td>
   <td><tt>822b8f7266f7bd8170db1c02510480bb98d03e6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/superkaramba-4.9.3.tar.xz">superkaramba-4.9.3</a></td>
   <td align="right">374kB</td>
   <td><tt>2558e05331a62ea3949d8949aa66e6aae29d95da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/svgpart-4.9.3.tar.xz">svgpart-4.9.3</a></td>
   <td align="right">8kB</td>
   <td><tt>b2fff50f76dcaaf0d2505679060cfa3175731b48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/sweeper-4.9.3.tar.xz">sweeper-4.9.3</a></td>
   <td align="right">81kB</td>
   <td><tt>13a6ac2aa84643a615d09137cb10b0a9847f0d1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-ar-4.9.3.tar.xz">kde-l10n-ar-4.9.3</a></td>
   <td align="right">3.1MB</td>
   <td><tt>da5cd78b18d736becee1b74c721d50350a128aed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-bg-4.9.3.tar.xz">kde-l10n-bg-4.9.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>6256f72200e35456c19d87eea643168a234a0b2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-bs-4.9.3.tar.xz">kde-l10n-bs-4.9.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>46db0ebdc2a49b106c58dba86f441722c7f70a18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-ca-4.9.3.tar.xz">kde-l10n-ca-4.9.3</a></td>
   <td align="right">11MB</td>
   <td><tt>3cf63a9d52cce2d34a56af101badd856c1093b5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-ca@valencia-4.9.3.tar.xz">kde-l10n-ca@valencia-4.9.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>d935ef8d33420ea3b3b488cc696d5ed057b8321b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-cs-4.9.3.tar.xz">kde-l10n-cs-4.9.3</a></td>
   <td align="right">2.8MB</td>
   <td><tt>5fb0ef93bf8984a3b81680a202a945da010d23e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-da-4.9.3.tar.xz">kde-l10n-da-4.9.3</a></td>
   <td align="right">12MB</td>
   <td><tt>5e173bc039f55178aa00d8f54de4624aa553ef8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-de-4.9.3.tar.xz">kde-l10n-de-4.9.3</a></td>
   <td align="right">36MB</td>
   <td><tt>1c1cd1b4e4ceaf00aea15e9cbdd7d3b74d2e5710</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-el-4.9.3.tar.xz">kde-l10n-el-4.9.3</a></td>
   <td align="right">4.5MB</td>
   <td><tt>6554289de874f9f6e45cd025969e490546b1e992</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-en_GB-4.9.3.tar.xz">kde-l10n-en_GB-4.9.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>7e65bb4aaaa99105c3f007ce6e65b45216369662</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-es-4.9.3.tar.xz">kde-l10n-es-4.9.3</a></td>
   <td align="right">22MB</td>
   <td><tt>cc36b48a8fe1e81b3408712d5f9893cbc132b8e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-et-4.9.3.tar.xz">kde-l10n-et-4.9.3</a></td>
   <td align="right">7.0MB</td>
   <td><tt>1d21343b01a02fccc031a49b81c911b60d82724a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-eu-4.9.3.tar.xz">kde-l10n-eu-4.9.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>3829980c3cd099ca2e6b38fad9fd1208ba541c35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-fa-4.9.3.tar.xz">kde-l10n-fa-4.9.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>616f36c2590e630244cd3045918ef24c410e57aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-fi-4.9.3.tar.xz">kde-l10n-fi-4.9.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>72b0dd1aa1d6e8c7869c25bca1d29f1af901fb73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-fr-4.9.3.tar.xz">kde-l10n-fr-4.9.3</a></td>
   <td align="right">42MB</td>
   <td><tt>c2a954905fd404ed662df9f8a587c645479b2d7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-ga-4.9.3.tar.xz">kde-l10n-ga-4.9.3</a></td>
   <td align="right">2.6MB</td>
   <td><tt>c7e31de6f0fa7b663e567363c5f9ecf680a38b95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-gl-4.9.3.tar.xz">kde-l10n-gl-4.9.3</a></td>
   <td align="right">4.0MB</td>
   <td><tt>5644962fcd82f8c147249507339494a697f5f695</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-he-4.9.3.tar.xz">kde-l10n-he-4.9.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>881d75f58b1361b605c91efcc9658046339d9d4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-hi-4.9.3.tar.xz">kde-l10n-hi-4.9.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>f7b3a270b1ec192e527a58c9b3400f795372ef23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-hr-4.9.3.tar.xz">kde-l10n-hr-4.9.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>42ed777d87974c046ebbc4019cca6d66652d39dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-hu-4.9.3.tar.xz">kde-l10n-hu-4.9.3</a></td>
   <td align="right">3.9MB</td>
   <td><tt>df904e69f203214c0af29faf4015306293f20a4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-ia-4.9.3.tar.xz">kde-l10n-ia-4.9.3</a></td>
   <td align="right">1.2MB</td>
   <td><tt>8da93e5fc0076923471ac205d89be74693374da7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-is-4.9.3.tar.xz">kde-l10n-is-4.9.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>a71ccd559aa8454a551e15dffc97848dbf0e5ea0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-it-4.9.3.tar.xz">kde-l10n-it-4.9.3</a></td>
   <td align="right">9.9MB</td>
   <td><tt>74bba348e7db7275d49d30a30f938c7860be3e9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-ja-4.9.3.tar.xz">kde-l10n-ja-4.9.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>a1bcc80f327f8bc1ff5f9bef719d645e29781429</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-kk-4.9.3.tar.xz">kde-l10n-kk-4.9.3</a></td>
   <td align="right">2.3MB</td>
   <td><tt>cc5ee36b11a566ef8a15850e9a0c33741fb436f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-km-4.9.3.tar.xz">kde-l10n-km-4.9.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>f564868c17d6d780c5ef58b78e30e929d06eaba2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-ko-4.9.3.tar.xz">kde-l10n-ko-4.9.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>792e19168435d32314905c4b66bb2741f3b1eb63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-lt-4.9.3.tar.xz">kde-l10n-lt-4.9.3</a></td>
   <td align="right">10MB</td>
   <td><tt>a716dc471d6beca2d5beb1c8e2c8cc883b6cbbb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-lv-4.9.3.tar.xz">kde-l10n-lv-4.9.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>10a32d9fe83623afe25c25c346d475265ad696a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-nb-4.9.3.tar.xz">kde-l10n-nb-4.9.3</a></td>
   <td align="right">2.2MB</td>
   <td><tt>38db6587cf3a0b1754c81d110af8ef28969f77b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-nds-4.9.3.tar.xz">kde-l10n-nds-4.9.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>c7b7fe8bffe77d21813cf1ea12baa90f5c55aaeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-nl-4.9.3.tar.xz">kde-l10n-nl-4.9.3</a></td>
   <td align="right">15MB</td>
   <td><tt>a4fcf681975ab30c72e61d2d7c3c4c7f2c50f366</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-nn-4.9.3.tar.xz">kde-l10n-nn-4.9.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>5cfd68efc0a0e1d6b8cd6a0714274f195168b48e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-pa-4.9.3.tar.xz">kde-l10n-pa-4.9.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>4b10331ce6fe2355b0a4d6cb921357557fd971c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-pl-4.9.3.tar.xz">kde-l10n-pl-4.9.3</a></td>
   <td align="right">16MB</td>
   <td><tt>41624bc7c5251e00b08b14fb2dc0c5720b9c7d97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-pt-4.9.3.tar.xz">kde-l10n-pt-4.9.3</a></td>
   <td align="right">5.5MB</td>
   <td><tt>9b87c9e6bb131497db878af1a76a1e782b161d31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-pt_BR-4.9.3.tar.xz">kde-l10n-pt_BR-4.9.3</a></td>
   <td align="right">26MB</td>
   <td><tt>69a396fa369fdc5882b1983167eb4f8be0ea2361</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-ro-4.9.3.tar.xz">kde-l10n-ro-4.9.3</a></td>
   <td align="right">2.8MB</td>
   <td><tt>ce7cc9c0fc23e640323b34eb23eaef4def22b192</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-ru-4.9.3.tar.xz">kde-l10n-ru-4.9.3</a></td>
   <td align="right">22MB</td>
   <td><tt>72a5337896a303aa8c68d9aaa99b60900dc9b831</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-si-4.9.3.tar.xz">kde-l10n-si-4.9.3</a></td>
   <td align="right">1010kB</td>
   <td><tt>6323da872bc4eca0f9ac37c15236d84105e7c08a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-sk-4.9.3.tar.xz">kde-l10n-sk-4.9.3</a></td>
   <td align="right">4.0MB</td>
   <td><tt>6d8daa50027a1f66311b26e3cf93d2472e7351b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-sl-4.9.3.tar.xz">kde-l10n-sl-4.9.3</a></td>
   <td align="right">3.2MB</td>
   <td><tt>d9ff9492f4c3bfd832b24919e1699115c2bec663</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-sr-4.9.3.tar.xz">kde-l10n-sr-4.9.3</a></td>
   <td align="right">5.2MB</td>
   <td><tt>115720cbddc408559b4766b7e83420700f866d97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-sv-4.9.3.tar.xz">kde-l10n-sv-4.9.3</a></td>
   <td align="right">15MB</td>
   <td><tt>647a65aee547cc510dd3cdee4f72cc1ad74fe53c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-tg-4.9.3.tar.xz">kde-l10n-tg-4.9.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>5fe8e2669eeb575f5cab55c847a17c977142fbc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-th-4.9.3.tar.xz">kde-l10n-th-4.9.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>f80db4d5a7f6d4f1fa097dca0cd88b961ec61452</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-tr-4.9.3.tar.xz">kde-l10n-tr-4.9.3</a></td>
   <td align="right">3.8MB</td>
   <td><tt>ebd0f93a493b43209b57517cdce9711f93e858a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-ug-4.9.3.tar.xz">kde-l10n-ug-4.9.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>7888bda7a4e7831d816e6aac9c44ae2b996d65bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-uk-4.9.3.tar.xz">kde-l10n-uk-4.9.3</a></td>
   <td align="right">21MB</td>
   <td><tt>098fffd614cef8410ca9427967b86ef7890d8c0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-vi-4.9.3.tar.xz">kde-l10n-vi-4.9.3</a></td>
   <td align="right">894kB</td>
   <td><tt>6744fa1cfcbf91cae9017f486ac89521514e2116</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-wa-4.9.3.tar.xz">kde-l10n-wa-4.9.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>492ab2496ec604695344844eeeb95c0d41a4000b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-zh_CN-4.9.3.tar.xz">kde-l10n-zh_CN-4.9.3</a></td>
   <td align="right">3.3MB</td>
   <td><tt>2cb3719251b5fb8cb6ea8978d85877a629d88a37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.3/src/kde-l10n/kde-l10n-zh_TW-4.9.3.tar.xz">kde-l10n-zh_TW-4.9.3</a></td>
   <td align="right">2.3MB</td>
   <td><tt>eeecf7d1b35514970ed6f4915b8f1e8054469806</tt></td>
</tr>

</table>

