
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/attica-5.46.0.tar.xz">attica-5.46.0</a></td>
   <td align="right">59kB</td>
   <td><tt>7e2423bbece6cb30bae71402d50c21038e851811</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/baloo-5.46.0.tar.xz">baloo-5.46.0</a></td>
   <td align="right">222kB</td>
   <td><tt>41562c3226ebdca14311eeee29bfed1169a9f202</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/bluez-qt-5.46.0.tar.xz">bluez-qt-5.46.0</a></td>
   <td align="right">72kB</td>
   <td><tt>d839f36f2fa424a3755fe0e3d112d76095d4eca8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/breeze-icons-5.46.0.tar.xz">breeze-icons-5.46.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>856dcee92e204d837e6317c7aa096b93e5ab30a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/extra-cmake-modules-5.46.0.tar.xz">extra-cmake-modules-5.46.0</a></td>
   <td align="right">309kB</td>
   <td><tt>19eaa3ba563ae5ac587a8401c16b449ad600b0b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/frameworkintegration-5.46.0.tar.xz">frameworkintegration-5.46.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c8cfdd23e39670a1a7240b697d8c9e6b46d3dd2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kactivities-5.46.0.tar.xz">kactivities-5.46.0</a></td>
   <td align="right">59kB</td>
   <td><tt>552fcc7d9714b306c22e0336e708258de30e68d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kactivities-stats-5.46.0.tar.xz">kactivities-stats-5.46.0</a></td>
   <td align="right">59kB</td>
   <td><tt>5d47dbd945f491a10dd9e551d883cf55fea7f527</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kapidox-5.46.0.tar.xz">kapidox-5.46.0</a></td>
   <td align="right">387kB</td>
   <td><tt>71f00c22c4919107b5ca800d84869e3f2923de27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/karchive-5.46.0.tar.xz">karchive-5.46.0</a></td>
   <td align="right">428kB</td>
   <td><tt>dc36ec4979a27f087ca43adf38f824ff8eb1dc9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kauth-5.46.0.tar.xz">kauth-5.46.0</a></td>
   <td align="right">82kB</td>
   <td><tt>6caab1c40096de83297ce840e439412fe47546ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kbookmarks-5.46.0.tar.xz">kbookmarks-5.46.0</a></td>
   <td align="right">115kB</td>
   <td><tt>fbb6aff1922637c54fead918183e09533067ee1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kcmutils-5.46.0.tar.xz">kcmutils-5.46.0</a></td>
   <td align="right">231kB</td>
   <td><tt>319e4dee094ce3b48175c30ee54c0df55b144ef0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kcodecs-5.46.0.tar.xz">kcodecs-5.46.0</a></td>
   <td align="right">215kB</td>
   <td><tt>e9d80b10cf561de5258ecd0a2e72aecef9ace1a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kcompletion-5.46.0.tar.xz">kcompletion-5.46.0</a></td>
   <td align="right">112kB</td>
   <td><tt>5b9308e6b2635195a7df4a2131343f7552bd0fef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kconfig-5.46.0.tar.xz">kconfig-5.46.0</a></td>
   <td align="right">230kB</td>
   <td><tt>f249a7e6c0713eb832823656d7b2d142bb82165f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kconfigwidgets-5.46.0.tar.xz">kconfigwidgets-5.46.0</a></td>
   <td align="right">366kB</td>
   <td><tt>8b766a319d4f30285fe7808479e3898140dbe0e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kcoreaddons-5.46.0.tar.xz">kcoreaddons-5.46.0</a></td>
   <td align="right">342kB</td>
   <td><tt>d397c94d8101466a7711c26fc32d84853f271ec3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kcrash-5.46.0.tar.xz">kcrash-5.46.0</a></td>
   <td align="right">21kB</td>
   <td><tt>47b8a525c92cfaebfb3a92377a6fc611dbb8c0ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kdbusaddons-5.46.0.tar.xz">kdbusaddons-5.46.0</a></td>
   <td align="right">36kB</td>
   <td><tt>2c9aeac10b68cedf8a10a5a518172127a86c1e64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kdeclarative-5.46.0.tar.xz">kdeclarative-5.46.0</a></td>
   <td align="right">167kB</td>
   <td><tt>72ec9378b87d2dfced654818e12b3396386a34d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kded-5.46.0.tar.xz">kded-5.46.0</a></td>
   <td align="right">36kB</td>
   <td><tt>b0da5e56ac5762dbe6a9f1df3d6a1a2902b06d78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kdesignerplugin-5.46.0.tar.xz">kdesignerplugin-5.46.0</a></td>
   <td align="right">88kB</td>
   <td><tt>3eb6751c7eb772e291be6a45eca8b8045b447928</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kdesu-5.46.0.tar.xz">kdesu-5.46.0</a></td>
   <td align="right">43kB</td>
   <td><tt>e2fda26da5a11e5237898ce7ab60913810ac7767</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kdewebkit-5.46.0.tar.xz">kdewebkit-5.46.0</a></td>
   <td align="right">28kB</td>
   <td><tt>e37f9930b2047e6447937c8da54425337bdc3933</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kdnssd-5.46.0.tar.xz">kdnssd-5.46.0</a></td>
   <td align="right">55kB</td>
   <td><tt>71f9e764851fe9090018e0a1f5956173bd90bb55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kdoctools-5.46.0.tar.xz">kdoctools-5.46.0</a></td>
   <td align="right">413kB</td>
   <td><tt>2f5b92fbd2b1496561f2c9b2c9d29b02dfc69a61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kemoticons-5.46.0.tar.xz">kemoticons-5.46.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>f24201db263f338e0b62daa7015570b83fb8a6ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kfilemetadata-5.46.0.tar.xz">kfilemetadata-5.46.0</a></td>
   <td align="right">248kB</td>
   <td><tt>3cb3e553a4e487bbbadcf6d1830e91c98e0657b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kglobalaccel-5.46.0.tar.xz">kglobalaccel-5.46.0</a></td>
   <td align="right">81kB</td>
   <td><tt>56fbaae08b13b8509a51fa3df53ef12f519c9131</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kguiaddons-5.46.0.tar.xz">kguiaddons-5.46.0</a></td>
   <td align="right">39kB</td>
   <td><tt>4932883b3368b4a3b0ee5d0064f6b760f5ad84d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kholidays-5.46.0.tar.xz">kholidays-5.46.0</a></td>
   <td align="right">194kB</td>
   <td><tt>55795db654bdab5377f52167121aafd417e472cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/ki18n-5.46.0.tar.xz">ki18n-5.46.0</a></td>
   <td align="right">573kB</td>
   <td><tt>ed4ac832d83396f96b8064fd34ede687df6c7c77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kiconthemes-5.46.0.tar.xz">kiconthemes-5.46.0</a></td>
   <td align="right">201kB</td>
   <td><tt>889b51e8828f3bd1c8798d3db6ae621e4c25ec5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kidletime-5.46.0.tar.xz">kidletime-5.46.0</a></td>
   <td align="right">25kB</td>
   <td><tt>e99cf3729d14bf2f056e14aaf2af28b03d21e779</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kimageformats-5.46.0.tar.xz">kimageformats-5.46.0</a></td>
   <td align="right">199kB</td>
   <td><tt>6996c38b216820a21d69320c2f3eabfdba4433b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kinit-5.46.0.tar.xz">kinit-5.46.0</a></td>
   <td align="right">117kB</td>
   <td><tt>1631c6365dd701a293d754b85f6e3f669ced247c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kio-5.46.0.tar.xz">kio-5.46.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>c51ed68c9b076fc30bd0353f544037dd67c4b031</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kirigami2-5.46.0.tar.xz">kirigami2-5.46.0</a></td>
   <td align="right">308kB</td>
   <td><tt>02fe835a5b902435530c141b2968b055bb92f9bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kitemmodels-5.46.0.tar.xz">kitemmodels-5.46.0</a></td>
   <td align="right">381kB</td>
   <td><tt>359b412f542499b4a1b2b455f21a3a24766af3e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kitemviews-5.46.0.tar.xz">kitemviews-5.46.0</a></td>
   <td align="right">73kB</td>
   <td><tt>4102882edec1edaf1aa30a6eb9ca24b97609bb1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kjobwidgets-5.46.0.tar.xz">kjobwidgets-5.46.0</a></td>
   <td align="right">85kB</td>
   <td><tt>898d875ff6ee74a776afe352e7fed54006cc1497</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/knewstuff-5.46.0.tar.xz">knewstuff-5.46.0</a></td>
   <td align="right">976kB</td>
   <td><tt>e47158a21b7faf19d2f632d972420be5939334ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/knotifications-5.46.0.tar.xz">knotifications-5.46.0</a></td>
   <td align="right">98kB</td>
   <td><tt>b23cd2f73933f3285fd4231edd183a42da14903b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/knotifyconfig-5.46.0.tar.xz">knotifyconfig-5.46.0</a></td>
   <td align="right">81kB</td>
   <td><tt>c30ce0c88db02ce1825e52d332c121d597cde51b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kpackage-5.46.0.tar.xz">kpackage-5.46.0</a></td>
   <td align="right">129kB</td>
   <td><tt>b4f5510af5fe329f1274ec67b5228e7da0f604f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kparts-5.46.0.tar.xz">kparts-5.46.0</a></td>
   <td align="right">171kB</td>
   <td><tt>96b48bdff6bb66165dbffa898c7c5428bfdbe063</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kpeople-5.46.0.tar.xz">kpeople-5.46.0</a></td>
   <td align="right">58kB</td>
   <td><tt>7b7555a1ff066fc57546e7ff169725e2abaa5a39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kplotting-5.46.0.tar.xz">kplotting-5.46.0</a></td>
   <td align="right">29kB</td>
   <td><tt>844c5aff1ed3f6fe3a79ccf12b78ca69bba6a216</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kpty-5.46.0.tar.xz">kpty-5.46.0</a></td>
   <td align="right">56kB</td>
   <td><tt>87a44d40cd4758f58dc37054b1c4570685a976c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/krunner-5.46.0.tar.xz">krunner-5.46.0</a></td>
   <td align="right">59kB</td>
   <td><tt>0e417503653b127baf2341ca5669d878671bc305</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kservice-5.46.0.tar.xz">kservice-5.46.0</a></td>
   <td align="right">243kB</td>
   <td><tt>5a4ee77d8c1f542f496b65e8ed159537b67f16fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/ktexteditor-5.46.0.tar.xz">ktexteditor-5.46.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>d335627eb020aaffbb88fae60d636f7c73f463da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/ktextwidgets-5.46.0.tar.xz">ktextwidgets-5.46.0</a></td>
   <td align="right">301kB</td>
   <td><tt>e06fcc20c1026948e656cc2e234476fc30a46486</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kunitconversion-5.46.0.tar.xz">kunitconversion-5.46.0</a></td>
   <td align="right">755kB</td>
   <td><tt>3b2bec03ea7960d6a428e917559147e660cf4c5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kwallet-5.46.0.tar.xz">kwallet-5.46.0</a></td>
   <td align="right">299kB</td>
   <td><tt>3e08a17d81dd5aa166ebdb194d906acfc5cae8b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kwayland-5.46.0.tar.xz">kwayland-5.46.0</a></td>
   <td align="right">297kB</td>
   <td><tt>8268f3c41b60fcddccd7cb53a1ec50ccac0c5a7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kwidgetsaddons-5.46.0.tar.xz">kwidgetsaddons-5.46.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>9d4ada39b62cb28728f9b76fc7465dc10528b560</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kwindowsystem-5.46.0.tar.xz">kwindowsystem-5.46.0</a></td>
   <td align="right">165kB</td>
   <td><tt>0eb637dda7ad11cf937da8bf86db3c177f08b713</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kxmlgui-5.46.0.tar.xz">kxmlgui-5.46.0</a></td>
   <td align="right">863kB</td>
   <td><tt>8c4644053b05feecfb2d5ed5fda7517976ba6904</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/kxmlrpcclient-5.46.0.tar.xz">kxmlrpcclient-5.46.0</a></td>
   <td align="right">28kB</td>
   <td><tt>d2d8e6e78aeb2886a9b2127450ff66bbd4cf5711</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/modemmanager-qt-5.46.0.tar.xz">modemmanager-qt-5.46.0</a></td>
   <td align="right">96kB</td>
   <td><tt>3307bf8137bf63fc46ef192389fa05345efa3a96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/networkmanager-qt-5.46.0.tar.xz">networkmanager-qt-5.46.0</a></td>
   <td align="right">159kB</td>
   <td><tt>d69a7ba41985109f4f9dded121877cdcdf232c3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/oxygen-icons5-5.46.0.tar.xz">oxygen-icons5-5.46.0</a></td>
   <td align="right">225MB</td>
   <td><tt>735b26779d559be118033a57a88ffd941df3d6eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/plasma-framework-5.46.0.tar.xz">plasma-framework-5.46.0</a></td>
   <td align="right">4.4MB</td>
   <td><tt>9a228b42bf8512b3f825a50bda089874ba2248db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/prison-5.46.0.tar.xz">prison-5.46.0</a></td>
   <td align="right">38kB</td>
   <td><tt>eab54ee9dea8b2e5a1883d57d99aaaebcbe3c8de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/purpose-5.46.0.tar.xz">purpose-5.46.0</a></td>
   <td align="right">116kB</td>
   <td><tt>b9e678ad0174df71cab638a853f5870a4c9c885a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/qqc2-desktop-style-5.46.0.tar.xz">qqc2-desktop-style-5.46.0</a></td>
   <td align="right">38kB</td>
   <td><tt>522ad6f2f0b9202d81e6d0d093a7050b07ddf086</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/solid-5.46.0.tar.xz">solid-5.46.0</a></td>
   <td align="right">251kB</td>
   <td><tt>172440ca9a6c930fac99e7aaafa1af0f3f43bf9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/sonnet-5.46.0.tar.xz">sonnet-5.46.0</a></td>
   <td align="right">280kB</td>
   <td><tt>db4a6aba82568c64f9fb7df7a319140446f4ba1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/syntax-highlighting-5.46.0.tar.xz">syntax-highlighting-5.46.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>b52a51ec92fff218fcd38aeb8829b4f8968a0371</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.46/threadweaver-5.46.0.tar.xz">threadweaver-5.46.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>a524804b1fc81377034efae297b8b3395a4d0eb3</tt></td>
</tr>

</table>
