<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.2/baloo-5.0.2.tar.xz">baloo-5.0.2</a></td>
   <td align="right">217kB</td>
   <td><tt>a1f64a5dc6dee73d94ede51424e0378966257533</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.2/breeze-5.0.2.tar.xz">breeze-5.0.2</a></td>
   <td align="right">15MB</td>
   <td><tt>3bdaaabcab3f665a637f2d61bdeb9320374ed20c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.2/kde-cli-tools-5.0.2.tar.xz">kde-cli-tools-5.0.2</a></td>
   <td align="right">454kB</td>
   <td><tt>f366fca1d172af5ebe033aaff32df444ff88e16c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.2/kfilemetadata-5.0.2.tar.xz">kfilemetadata-5.0.2</a></td>
   <td align="right">83kB</td>
   <td><tt>f9063274b41c378293bee9fa15f11a474c7eba4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.2/khelpcenter-5.0.2.tar.xz">khelpcenter-5.0.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>d0ed4ecb77d7a1b13c326df1a5a856dc7a1a356d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.2/khotkeys-5.0.2.tar.xz">khotkeys-5.0.2</a></td>
   <td align="right">724kB</td>
   <td><tt>4ad2e2207046d170701cfb805b0dae3acc925262</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.2/kinfocenter-5.0.2.tar.xz">kinfocenter-5.0.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>233f8d65f88318619eca89e6cffe2f4430f4b696</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.2/kio-extras-5.0.2.tar.xz">kio-extras-5.0.2</a></td>
   <td align="right">561kB</td>
   <td><tt>9b685a962e438500b05832ac0323c6d8a8b798c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.2/kmenuedit-5.0.2.tar.xz">kmenuedit-5.0.2</a></td>
   <td align="right">333kB</td>
   <td><tt>eb15dbde391e8c7dfba1df1022e42f789fc235b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.2/ksysguard-5.0.2.tar.xz">ksysguard-5.0.2</a></td>
   <td align="right">430kB</td>
   <td><tt>1d704cfb261407668c7cfbf4c8637d409bc3fe89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.2/kwin-5.0.2.tar.xz">kwin-5.0.2</a></td>
   <td align="right">3.6MB</td>
   <td><tt>74a86f05403435bdc659a965fecdb3d4ec60d381</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.2/kwrited-5.0.2.tar.xz">kwrited-5.0.2</a></td>
   <td align="right">18kB</td>
   <td><tt>57168adaf758781fa726f4e136130bd8bfb97a94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.2/libkscreen-5.0.93.tar.xz">libkscreen-5.0.93</a></td>
   <td align="right">55kB</td>
   <td><tt>7ce7c7d1305936cfb60ca59d3bcdafb3fa74b0b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.2/libksysguard-5.0.2.tar.xz">libksysguard-5.0.2</a></td>
   <td align="right">539kB</td>
   <td><tt>110dc10497bc937399149945064c0b3574eda03a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.2/libmm-qt-5.0.93.tar.xz">libmm-qt-5.0.93</a></td>
   <td align="right">73kB</td>
   <td><tt>f24ddcc527ab2cb6d9e78f0cba1fc1314e6ac0fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.2/libnm-qt-5.0.93.tar.xz">libnm-qt-5.0.93</a></td>
   <td align="right">138kB</td>
   <td><tt>14461a80eabf75bc52213276a0e9d0d3022d3754</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.2/milou-5.0.2.tar.xz">milou-5.0.2</a></td>
   <td align="right">37kB</td>
   <td><tt>5567b640ffbcfa8bd48d8ecb14e11c28ade2f40e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.2/oxygen-5.0.2.tar.xz">oxygen-5.0.2</a></td>
   <td align="right">2.8MB</td>
   <td><tt>6b65503657da5bc30d21b5b2b2e3b0a874a493b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.2/oxygen-fonts-0.4.2.tar.xz">oxygen-fonts-0.4.2</a></td>
   <td align="right">530kB</td>
   <td><tt>917559c9f286799e1c998c3640f337b0f2748d25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.2/plasma-desktop-5.0.2.tar.xz">plasma-desktop-5.0.2</a></td>
   <td align="right">5.7MB</td>
   <td><tt>29c11ace43feb0951f6819335fa0d270b7170f56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.2/plasma-nm-5.0.2.tar.xz">plasma-nm-5.0.2</a></td>
   <td align="right">468kB</td>
   <td><tt>cc768a710f1bc2ba2914efa5539ab714070928a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.2/plasma-workspace-5.0.2.tar.xz">plasma-workspace-5.0.2</a></td>
   <td align="right">5.9MB</td>
   <td><tt>62f63c3b981ee0952a3cf9ed61c5ebd89f665ce0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.2/plasma-workspace-wallpapers-5.0.2.tar.xz">plasma-workspace-wallpapers-5.0.2</a></td>
   <td align="right">27MB</td>
   <td><tt>06d4fba8eb520d7c1119b739f4461649f85733f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.2/powerdevil-5.0.2.tar.xz">powerdevil-5.0.2</a></td>
   <td align="right">407kB</td>
   <td><tt>9848c26aa7f175ddd2b4d5a5012475ceb89becff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.0.2/systemsettings-5.0.2.tar.xz">systemsettings-5.0.2</a></td>
   <td align="right">131kB</td>
   <td><tt>d7c492b3fcecf447d70661f3542fb44fa7f067f8</tt></td>
</tr>

</table>
