<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/bluedevil-5.7.0.tar.xz">bluedevil-5.7.0</a></td>
   <td align="right">136kB</td>
   <td><tt>169b2d4d94b94180fa5b5922d34fb1f5532c5e9185953f11785a8521e101c581</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/breeze-5.7.0.tar.xz">breeze-5.7.0</a></td>
   <td align="right">11MB</td>
   <td><tt>54a817cfa2c961838c5581a0750e6a593b56edc0ae3b2392b2b84d8a2a00c4eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/breeze-grub-5.7.0.tar.xz">breeze-grub-5.7.0</a></td>
   <td align="right">150kB</td>
   <td><tt>287fdcd071d2190186439348fbd8619b53dd0fa20a540e4fa1ac86bde608ee51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/breeze-gtk-5.7.0.tar.xz">breeze-gtk-5.7.0</a></td>
   <td align="right">205kB</td>
   <td><tt>0bf61f4988a44a8d858cbd2ed348df141bfb8ed3eca8631d899ad76229dc30c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/breeze-plymouth-5.7.0.tar.xz">breeze-plymouth-5.7.0</a></td>
   <td align="right">55kB</td>
   <td><tt>fbf5053e9dca97f82a911d5c2fe1be53bf39c55a385da3dad34af0dd82f603cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/discover-5.7.0.tar.xz">discover-5.7.0</a></td>
   <td align="right">790kB</td>
   <td><tt>8f63864f0a2de71a65843bb1e072e68a3d7f03807faf3e1e24c4656a5e1a6348</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/kactivitymanagerd-5.7.0.tar.xz">kactivitymanagerd-5.7.0</a></td>
   <td align="right">77kB</td>
   <td><tt>58fa8fc8e6317dd9fe113142cf14465548901885b96fdb1e6fec284831715948</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/kde-cli-tools-5.7.0.tar.xz">kde-cli-tools-5.7.0</a></td>
   <td align="right">473kB</td>
   <td><tt>7544530f51f3b2c9cf00cc69a84e605d3ce1b7c21ce234b44775d6e3a8c1e415</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/kdecoration-5.7.0.tar.xz">kdecoration-5.7.0</a></td>
   <td align="right">33kB</td>
   <td><tt>6c7f9ff8f317a07563fe18f3caa70e607a7051c827c9edde027a342f4e5983c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/kde-gtk-config-5.7.0.tar.xz">kde-gtk-config-5.7.0</a></td>
   <td align="right">143kB</td>
   <td><tt>57bc42b36bda9424847bd805b7c928394db56e1fd9ccba9e8560b9ece9a8c407</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/kdeplasma-addons-5.7.0.tar.xz">kdeplasma-addons-5.7.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>4b5cc259b411ab26db5f6fa20beb5d5b3f1300bf265881f26c77cdd8bd60604f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/kgamma5-5.7.0.tar.xz">kgamma5-5.7.0</a></td>
   <td align="right">58kB</td>
   <td><tt>0244602d508207cfb5f4068f91786ba01b11b413632781eb0d0ed1a7828998e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/khotkeys-5.7.0.tar.xz">khotkeys-5.7.0</a></td>
   <td align="right">588kB</td>
   <td><tt>71031c67ca3a1930384f8d5badba5937208a12bd646d41bc7a5599aa6a764750</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/kinfocenter-5.7.0.tar.xz">kinfocenter-5.7.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8e720627ea107072701905e39dda3cb0d6914240b3054422bb8d681312f543af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/kmenuedit-5.7.0.tar.xz">kmenuedit-5.7.0</a></td>
   <td align="right">428kB</td>
   <td><tt>8babe4f170a08497cd5eb0f38d505b12382bd891627db32f866583e2f78afb50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/kscreen-5.7.0.tar.xz">kscreen-5.7.0</a></td>
   <td align="right">105kB</td>
   <td><tt>d0d4c865d923b34c900466ea266a0d356ded3fe85a39ed11a1c8390a84f83ce2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/kscreenlocker-5.7.0.tar.xz">kscreenlocker-5.7.0</a></td>
   <td align="right">99kB</td>
   <td><tt>bb6dd6e6dc761bf31b5450541f5ff39880950a7394345f878078ba307698e479</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/ksshaskpass-5.7.0.tar.xz">ksshaskpass-5.7.0</a></td>
   <td align="right">18kB</td>
   <td><tt>8092f20d4a83827f1a7fc2eb28e7ca729b82b6e13a26d341327b9bf15f88604b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/ksysguard-5.7.0.tar.xz">ksysguard-5.7.0</a></td>
   <td align="right">473kB</td>
   <td><tt>32d346bb6a31f5bc2deac92f85c4b2f809d1aede8653ee1e14b2f867a6d47324</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/kwallet-pam-5.7.0.tar.xz">kwallet-pam-5.7.0</a></td>
   <td align="right">17kB</td>
   <td><tt>7f81465b0d4c95e6ce92bf09e36d1fdab1eb8b8e0ad5a59067a22c59935a2a34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/kwayland-integration-5.7.0.tar.xz">kwayland-integration-5.7.0</a></td>
   <td align="right">17kB</td>
   <td><tt>5559ddb0bee641defba524b26d4456fb3a26183e62ee08b59d81b6d31a4a54dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/kwin-5.7.0.tar.xz">kwin-5.7.0</a></td>
   <td align="right">3.7MB</td>
   <td><tt>f57ec7fec961f5e490e0bf0e3e903e0656d12eccbbbbf6a23c84a8dd4866edd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/kwrited-5.7.0.tar.xz">kwrited-5.7.0</a></td>
   <td align="right">19kB</td>
   <td><tt>b3e439eb6206e9895fdae12b9d6b90401de1c86b0b497e422fc6aae1d236e5f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/libkscreen-5.7.0.tar.xz">libkscreen-5.7.0</a></td>
   <td align="right">87kB</td>
   <td><tt>0ccf8f4b4e97461116e25d8b5986bd4dc91f4eac22796043b2757ea934d2bd3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/libksysguard-5.7.0.tar.xz">libksysguard-5.7.0</a></td>
   <td align="right">555kB</td>
   <td><tt>5a6fc225f8e55660d49b5407d30c538bb4c04fe133baa56fa13a3c6739a27ac4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/milou-5.7.0.tar.xz">milou-5.7.0</a></td>
   <td align="right">52kB</td>
   <td><tt>6d6dabb285e60b87bfd8b1972666a04375cdf2d7eafcd0f61c339367d547e7c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/oxygen-5.7.0.tar.xz">oxygen-5.7.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>8ed9996013c5e4f97602618f4d3bac6f0b04f694f244d19acfcea6d7e3277f17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/plasma-desktop-5.7.0.tar.xz">plasma-desktop-5.7.0</a></td>
   <td align="right">5.8MB</td>
   <td><tt>a1a4cac5846e0e4c594dada87d1c3c00af4e8d60a72573da7759d7f0408a1739</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/plasma-integration-5.7.0.tar.xz">plasma-integration-5.7.0</a></td>
   <td align="right">47kB</td>
   <td><tt>311612b858a53e738db24f0b70cb4cd5e6e1da59c50d481d5e518232cc051566</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/plasma-mediacenter-5.7.0.tar.xz">plasma-mediacenter-5.7.0</a></td>
   <td align="right">156kB</td>
   <td><tt>2665f37b224177b5f0f7ac52f0d52dc39eb55b73490777f034333ae53d0d6af7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/plasma-nm-5.7.0.tar.xz">plasma-nm-5.7.0</a></td>
   <td align="right">611kB</td>
   <td><tt>31ad6e56bd1a65823c76248ed85122da7bbfc005a85d6077e552d626c9e648a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/plasma-pa-5.7.0.tar.xz">plasma-pa-5.7.0</a></td>
   <td align="right">56kB</td>
   <td><tt>48b34b9ac3efc786d66c5ebda3b4174dec3054228c4b8b3dc335fded3d8f1f96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/plasma-sdk-5.7.0.tar.xz">plasma-sdk-5.7.0</a></td>
   <td align="right">676kB</td>
   <td><tt>50f6db69298dcc83167eb4919200095034c889fd2c7420c38c745050d35d7231</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/plasma-workspace-5.7.0.tar.xz">plasma-workspace-5.7.0</a></td>
   <td align="right">6.3MB</td>
   <td><tt>ca890502d6979348703a3a006e57dfb0c81255c77d7191caf5fe7d11f9c5f710</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/plasma-workspace-wallpapers-5.7.0.tar.xz">plasma-workspace-wallpapers-5.7.0</a></td>
   <td align="right">43MB</td>
   <td><tt>a2c8ce7c89902ec7b9571ed7bb542da608bae3d3d56d3d2837eb2299afad56b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/polkit-kde-agent-1-5.7.0.tar.xz">polkit-kde-agent-1-5.7.0</a></td>
   <td align="right">38kB</td>
   <td><tt>83eea8b515f3eb825494e46b07dd05699d57b89e93c8962986cf8895617db233</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/powerdevil-5.7.0.tar.xz">powerdevil-5.7.0</a></td>
   <td align="right">348kB</td>
   <td><tt>d52c204ffecfbea12a3c6cc100403031c20257b48c56cbf32a592ef9ff4e85f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/sddm-kcm-5.7.0.tar.xz">sddm-kcm-5.7.0</a></td>
   <td align="right">47kB</td>
   <td><tt>fed9261c9827868643fcfad2ff19d81e93597f6f77f00856657a09edcef65692</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/systemsettings-5.7.0.tar.xz">systemsettings-5.7.0</a></td>
   <td align="right">152kB</td>
   <td><tt>77e8b88fe0abfb2e9afea7d1297d48b6b6054c7d70654e8d22d4f87d7211638e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.0/user-manager-5.7.0.tar.xz">user-manager-5.7.0</a></td>
   <td align="right">271kB</td>
   <td><tt>f3bc0dd8fbae6a0413ecef82b2ea8b5cd4064e893a32f4b207f636a4b88b079a</tt></td>
</tr>

</table>
