<nav aria-label="breadcrumb" class="d-none d-md-block d-print-none mt-3">
  <ol class="breadcrumb spb-1">
    {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
  </ol>
</nav	>
{{ define "breadcrumbnav" }}
{{ if .p1.Parent }}
{{ if not .p1.Parent.IsHome }}
{{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 ) }}
{{ end }}
{{ else if not .p1.IsHome }}
{{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
{{ end }}
{{ if eq .p1 .p2 }}
<li class="breadcrumb-item active" aria-current="page">{{ partial "fn/i18n_title" .p1 }}</li>
{{ else }}
<li class="breadcrumb-item">
  <a href="{{ .p1.Permalink }}">{{ partial "fn/i18n_title" .p1 }}</a>
</li>
{{ end }}
{{ end }}
